<style type="text/css">
        #respi{
            text-align: left;
            position: relative;
        }
         p{
            font-size: 25px;
            font-style: italic;
            color: rgb(136,3,13);
         }
         img{
            float: left;
            margin-right: 5px;
            width: 20%;
         }
         span{
            color: rgb(10,91,238);
            font-weight: bold;
            font-style: italic;
         }
         body{
            background-color: rgb(163, 228, 215);
         }
     </style>